<%= render 'shared/banner', img_path: "https://images.pexels.com/photos/279719/pexels-photo-279719.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", flat: "Flats" %>
<div class="container">
  <div class="cards m-5">
    <% @flats.each do |flat| %>
      <div class="card-body" data-id="<%= flat.id %>">
        <p class="card-title m-0"><%= flat.name %></p>
        <p class="m-0"><i class="fas fa-map-marker-alt"></i> <%= flat.address %></p>
        <p class="m-0"><i class="fas fa-yen-sign"></i> <%= flat.price_per_night %> per night</p>
        <p class="m-0"><i class="fas fa-users"></i> <%= flat.number_of_guests %></p>
        <div class="d-flex justify-content-between mt-2">
          <%= link_to flat_path(flat) do %>
            <p id="more-info" class="mb-0"><i class="fas fa-info-circle"></i> More Info</p> 
          <% end %>
          <%= link_to edit_flat_path(flat) do %>
            <p id="edit" class="mb-0"><i class="fas fa-edit"></i> Edit</p>
          <% end %>
          <%= link_to flats_path, data: { confirm: "Are you sure?"} do %>
            <p id="delete" class="mb-0"><i class="fas fa-trash-alt"></i> Delete</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
